@import"https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

.map{
    height: 100%;
    background-color: rgb(36, 42, 46);
    color: white;
    background-color: black;
}

.mapLeaflet{
    height: 100%;
}
